{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.contact}}
{{ if .enable }}

<section class="contact-form">

  <div class="container">
   <div class="row">
            <div class="col-md-7">
        {{ with .title }}<h2 class="mt-40">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        <!-- {{ with .button }} -->
        <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        <!-- {{ end }} -->
      </div>
      <div class="col-md-5">
	<div class="contact-img">
          <img class="img-responsive" src="{{ .image | relURL }}">
        </div>

        </div>

    </div>
  </div>
 
</section>
  {{ end }}
{{ end }}
{{ end }}
