{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sticky-top">
        <h2>{{ .Title }}</h2>
        {{ with .Params.subtitle }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        <p>{{ i18n "last_update" }}: {{ partial "date_i18n.html" (dict "date" .Lastmod "lang" .Page.Language.Lang) }}</p>
        <h3>{{ i18n "faq_toc_title" }}</h3>
        {{ .TableOfContents }}
      </div>
      <div class="col-md-8">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>


<!-- test block -->
{{ with .Params.blockzwo}}

<section class="blockzwo-form">

  <div class="container text-center">
   <div class="row">
            <div class="col-md-7">
        {{ with .title }}<h2 class="mt-40">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        <!-- {{ with .button }} -->
        <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        <!-- {{ end }} -->
      </div>
      <div class="col-md-5">
	<div class="blockzwo-img">
          <img class="img-responsive" src="{{ .image | relURL }}">
        </div>

        </div>

    </div>
  </div>
 
{{ end }}
<!-- test block 2-->
{{ with .Params.blocktre}}

<section class="blocktre-form">

  <div class="container text-center">
   <div class="row">
            <div class="col-md-7">
        {{ with .title }}<h2 class="mt-40">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        <!-- {{ with .button }} -->
        <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        <!-- {{ end }} -->
      </div>
      <div class="col-md-5">
	<div class="blocktre-img">
          <img class="img-responsive" src="{{ .image | relURL }}">
        </div>

        </div>

    </div>
  </div>
 
</section>
{{ end }}

{{ end }}
