{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.tafeln}}
{{ if .enable }}

<section class="tafeln-form">

  <div class="container text-center">
   <div class="row">
            <div class="col-md-8 col-md-offset-2">
        {{ with .title }}<h2 class="mt-40">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        <!-- {{ with .button }} -->
        <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        <!-- {{ end }} -->
      </div>
          </div>
  </div>
 
</section>
  {{ end }}
{{ end }}
{{ end }}
